<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>About learn code with Vikash Basant</h1>
    <h1>We are learning spring boot</h1>
    <h1 th:text="${name}"></h1>
    <h1 th:text="${currentDate}"></h1>
    <h1>Name of the owner is <span th:text="${#strings.toUpperCase(name)}"></span></h1>
    <p>Length of the name is <span th:text="${#strings.length(name)}"></span></p>

    <div th:with="a=5,b=67, n=${name}">
        <h3>Value of a is <span th:text="${a}"></span></h3>
        <h3>Value of b is <span th:text="${b}"></span></h3>
        <h3>Value of name is <span th:text="${n}"></span></h3>
        <h3>Value of a is <span></span></h3>

        <!-- another way to print the value:-->
        <h2 th:text="'Value of name is ' + ${n}"></h2>

        <h4 th:text="'sum of ' + ${a} + ' and ' + ${b} + ' is '+${a+b}"></h4>
    </div>

</body>
</html>