<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>This is contact page!</title>
</head>
<body>
    <section>
        <h3> About Vikash Basant</h3>
        <div>
            <h4>basantvikash360@gmail.com</h4>
            <h4>8789782803</h4>
            <h4>Bhagwatpur, Samastipur Bihar(848127)</h4>

            <h5>This is code that provides you a very intersting topics about thymeleaf coding in very simple way! Here we can put dynamic content inside the base.html file container.</h5>
        </div>
    </section>
</body>
</html>