<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exmaple of Loop</title>
</head>
<body>
    <h1> Going to traverse elements in collection..</h1>
    <!--  Here we want first try to print directly:  -->
    <h1 th:text="${names}"></h1>

    <!--  If we need to fetch one by one value then print:  -->
    <ul>
        <li th:each="n, status : ${names}">
            <span th:style="${status.odd} ? 'color:red; font-weight:italic' : 'color:blue; font-weight:bold' " th:text=" ${status.index+1}+' '+${n}"></span>
        </li>

        <!--
                index: the current iteration index, starting with 0(zero)
                count: the number of elements processed so far
                size: the total number of elements in the list
                even/odd: checks if the current iteration index is even or odd
                first: checks if the current iteration is the first one
                last: checks if the current iteration is the last one
        -->
    </ul>

</body>
</html>